.App {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}

.new-img-btn {
  margin-top: 30px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
